* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(163,35,158,1) 59%, rgba(148,187,233,1) 100%);
    font-family: Karla;
}

header {
    justify-content: space-between;
}

.nav-mobile {
    display: block;
}

.nav-mobile a {
    text-decoration-line: none;
    color: #311431;
}

header button:hover {
    background-color: #f78ef7;
    color: #0a4608;
    font-weight: 800;
}

.nav-desktop {
    display: grid;
    justify-content: space-between;
    align-items: center;
}    

ul li {
    padding: 5px;
    list-style: none;
}

li {
    padding: 5px;
    float: right;
    display: inline;
}

li a{
    text-decoration-line: none;
}

li a:hover {
    background-color: magenta;
    text-decoration-line: underline;
    color: white;
    border-radius: 100%;
  }

  main {
    margin-top: 10px;
  }

  .carousel slide {
    position: relative;
    text-align: center;
    color: white;
  }

  .hero-section {
    position: absolute;
    bottom: 100px;
    left: 16px;
    text-align: left;
    font-size: 1.5rem;
  }

  .hero-section h1 {
    background-color: white;
    padding: 1vw;
    width: 60vw;
    font-family: Black Ops One;
    margin-top: 1vh;
    margin-bottom: 2vh;
  }

  .hero-section h2 {
    background-color: white;
    width: 50vw;
    padding: 1%;
    font-size: 3rem;
    font-weight: 800;
    margin-top: 1vh;
    margin-bottom: 2vh;
  }

.text h1 {
  color: white;
  font-weight: 800;
}

.text p {
  font-size: 1.2rem;
  color: white;
}

.picture {
  display: flex;
}

.picture img {
  width: 40vw;
}

  .discography {
    margin-top: 5vh;
  }

  .discography h2 {
    font-weight: 800;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 3%;
  }
  
  .discography p {
    font-size: 1.2rem;
    margin-top: 5vh;
    font-weight: 800;
  }

  .card {
    margin-top: 5vh;
    display: inline-flex;
  }

  .card {
    border: 6px solid #ffbd2d;
    margin: 2vh 0 2vh;
  }

  .card img {
    margin-top: 1vh;
    width: 100%;
  }

  .text-area {
    margin-top: 1vh;
    text-align: center;
  }

  .card p {
    font-size: 1rem;
    font-weight: 100;
  }

 .card button {
    width: 60%;
    height: 5vh;
    font-size: 1rem;
    border-radius: 210px;
    border: 2px solid #311431;
    margin: 0 auto;
    background-color: #0a4608;
    font-weight: 100;
  }
  .card button a {
    text-decoration-line: none;
    text-decoration-color: none;
    color: #f78ef7;
  }
  
 .card button:hover {
    background-color: #f78ef7;
    color: #0a4608;
    font-weight: 800;
  }

  .card button a:hover {
    color: #0a4608;
  }

  footer {
    background-color: #f78ef7;
    width: 90vw;
    height: 10vh;
    display: flex;
    margin: 30px auto 10px auto;
    justify-content: space-evenly;
}

.f-btn {
    background-color: #311431;
    color: #f78ef7;
    border: 2px solid black;
    border-radius: 10px;
    width: 12vh;
    margin-top: 20px;
}

.f-btn:hover {
    background-color: white;
    color: #f78ef7;
    font-weight: bold;

}

footer i {
    color: #f78ef7;
    font-family: Helvetica;
    font-size: 1rem;
}

footer a {
    text-decoration-line: none;
}