* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffbd2d;
    font-family: Karla;
}

header {
    justify-content: space-between;
}

.nav-mobile {
    display: block;
}

.nav-mobile a {
    text-decoration-line: none;
    color: #311431;
}

header button:hover {
    background-color: #f78ef7;
    color: #0a4608;
    font-weight: 800;
}

.nav-desktop {
    display: grid;
    justify-content: space-between;
    align-items: center;
}    

ul li {
    padding: 5px;
    list-style: none;
}

li {
    padding: 5px;
    float: right;
    display: inline;
}

li a{
    text-decoration-line: none;
}

li a:hover {
    background-color: magenta;
    text-decoration-line: underline;
    color: white;
    border-radius: 100%;
  }

  main {
    margin-top: 60px;
  }

  .hero-section h1 {
    font-family: Black Ops One;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .hero-section h2 {
    text-align: center;
    font-weight: 800;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .hero-section {
    font-size: 1.5rem;
    border-radius: 20px;
    border: 2px solid black;
  }

  .hero-section article p {
    margin: 20px;
  }

  .pages {
    margin-top: 5vh;
    background: #f78ef7;
    padding-top: 3vh;
    border-radius: 20px;
    border: #311431 2px solid;
  }

  .pages h2 {
    text-align: center;
    font-weight: 800;
  }

  .pages p {
    font-size: 1.2rem;
    color: #311431;
    font-weight: 800;
  }

  .stickers {
    justify-content: center;
    display: inline-flex;
    align-items: center;
    margin-bottom: 0 auto;
  }

 .label {
    max-width: 100%;
    height: 100%;
  }

  .sparkles {
    max-width: 100%;
    max-height: 100%;
  }

  .card {
    margin-top: 5vh;
    display: inline-flex;
  }

  .card {
    border: 6px solid #ffbd2d;
    margin: 2vh 0 2vh;
  }

  .card img {
    margin-top: 1vh;
    width: 100%;
  }

  .text-area {
    margin-top: 1vh;
    text-align: center;
  }

  .card p {
    font-size: 1rem;
    font-weight: 100;
  }

 .card button {
    width: 60%;
    height: 5vh;
    font-size: 1rem;
    border-radius: 210px;
    border: 2px solid #311431;
    margin: 0 auto;
    background-color: #0a4608;
    font-weight: 100;
  }
  .card button a {
    text-decoration-line: none;
    text-decoration-color: none;
    color: #f78ef7;
  }
  
 .card button:hover {
    background-color: #f78ef7;
    color: #0a4608;
    font-weight: 800;
  }

  .card button a:hover {
    color: #0a4608;
  }

  footer {
    background-color: #f78ef7;
    width: 90vw;
    height: 10vh;
    display: flex;
    margin: 30px auto 10px auto;
    justify-content: space-evenly;
}

.f-btn {
    background-color: #311431;
    color: #f78ef7;
    border: 2px solid black;
    border-radius: 10px;
    width: 12vh;
    margin-top: 20px;
}

.f-btn:hover {
    background-color: white;
    color: #f78ef7;
    font-weight: bold;

}

footer i {
    color: #f78ef7;
    font-family: Helvetica;
    font-size: 1rem;
}

footer a {
    text-decoration-line: none;
}